
.dots {
    display: inline-block;
}    

.loading {
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .dots {
        font-size: 18px;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}

@keyframes blink {
    0% {
      opacity: .25;
    }

    25% {
      opacity: 1;
    }

    100% {
      opacity: .25;
    }
}
