
%text {
    line-height: 1.875em;
    font-size: 0.875em;
}

%space-text {
    letter-spacing: 0.2em;
}

.text {
    @extend %text;
}

.container {
    display: flex;
    min-height: 100vh;
    font-size: 14px; 
}

.aside-section {
    margin-bottom: 1em;

    .section-title {
        margin-bottom: 1em;
    }

    .text {
        margin: 0;
    }

    .sub-section {
        margin-bottom: 1.5em;
    }
}

.section-person {
    margin-bottom: 3em;
    text-align: center;
}

.person-name {
    font-size: 2.8em;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.person-profession {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3em;
    margin: 0;
}

.section-title {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding-bottom: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #cecccc;
}

.section-contact {
    .text {
        @extend %space-text;
    }

    .tel {
        text-decoration: none;
        color: #000;
    }
}

.section-skills {
    margin-top: 2em;
}

.skill-name {
    font-weight: 400;
    margin-bottom: 1em;
}

.skill {
    position: relative;
    border: 2px solid #000;

    .skill-value {
        display: block;
        background: #000;
        height: 1em;
    }
}

.articles {
    .section-title {
        border-color: #000;
    }

    .article {
        margin-bottom: 2em;
    }

    h4 {
        text-transform: uppercase;
        margin-bottom: 0.8em;
        line-height: 1.25em;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h5 {
        letter-spacing: 0.3em;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1em;
    }

    .content {
        @extend %text;
        font-size: 0.875em;
    }
}


@media all and (max-width: 700px) {
    .container {
        flex-direction: column;
        margin: 0 6%;
    }

    .section-title {
        margin-top: 2em;
    }
}


@media all and (min-width: 700px) {

    .container {
        font-size: 12px;
    }

    .main-content {
        width: 32.5em;
        flex: 0 1 32.5em;
        margin: 4em 4em 3em 3em;
    }

    .section-person {
        padding: 4em 0;
        margin-bottom: 4em;
        border-bottom: 2px solid #b6b2b2;
    }

    .section-contact {
        color: #fff;
    }

    .col-aside {
        width: 22em;
        flex-basis: 22em;
        padding-left: 1em;
        background: #333;
        min-height: 100vh;
        display: flex;
        justify-content: flex-end;
    }

    .aside {
        width: 24em;
        max-width: 100%;
        padding-bottom: 3em;
        color: #fff;
        text-align: center;

        .section-title {
            width: 65%;
            margin: 0 auto 1em;
        }
    }

    .aside-section {
        width: 70%;
        margin: 0 auto 2.5em auto;
    }
    .section-contact {
        .tel {
            color: #fff;
        }
    }

    .skill {
        border-color: #fff;
    
        .skill-value {
            background: #fff;
        }
    }

    
}

@media all and (min-width: 800px) {
    .container {
        font-size: 15px;
    }
}

@media all and (min-width: 1600px) {
    .container {
        font-size: 18px;
    }
}